
.main{
    width: 600px;
    border: 1px solid #ddd;
    margin: 32px auto 0px auto;
}

span{
    color: rgb(255, 0, 255);
}

body {
    background-color: rgb(252, 248, 248);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}